@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<div class="row justify-content-center" style="padding: 50px;">
    <div class="col-md-6">
        <img src="~/lib/images/logo-no-background.png" class="img-fluid">
    </div>
</div>


<head>
    <style>

        <meta name="viewport" content="width=device-width" / >
        <title > Welcome to Farm Central</title >
        </head >


        <body >
        <div class="container" >
    </style>
    <h1>Welcome to Farm Central</h1>
    <p>
        Farm Central is a collaborative venture by a group of local farmers who have come together to establish
        a brick-and-mortar store where they can sell their diverse range of high-quality products under one roof.
        With a shared vision of promoting sustainable agriculture and supporting local farmers, Farm Central aims to 
        provide customers with fresh and organic produce straight from the farm.
    </p>



    <p>
        As Farm Central's trusted partner, we are excited to present our proposal
        for the development of a comprehensive stock management website. This website
        will revolutionize the way Farm Central manages their inventory by efficiently
        tracking incoming and outgoing stock and ensuring accurate record-keeping of each
        item's origin farm.
    </p>

    </div>


    </body>
</html>
